.loading{
    width: 100%;
    height: 100vh;
    // position: absolute;
    position: fixed;
    background-color: rgba($color: #000, $alpha: 0.3);
    left:0;top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    .loader {
        width: 45px;
        aspect-ratio: 1;
        --c: conic-gradient(from -90deg,#ff4b77 90deg,#0000 0);
        background: var(--c), var(--c);
        background-size: 40% 40%;
        animation: l19 1s infinite alternate;
      }
      @keyframes l19 {
       0%,
       10%  {background-position: 0 0,0            calc(100%/3)}
       50%  {background-position: 0 0,calc(100%/3) calc(100%/3)}
       90%,
       100% {background-position: 0 0,calc(100%/3) 0}
      }
}
