.menuTapBar{
    height: 100%;
    &.hide{
        display: none;
    }
    //예매 버튼
    .reserveButtonWrap{
        max-width: 480px;
        height: 100%;
        padding: 8px 20px;
        margin: 0 auto;
        .reserveButton {
            width: 100%;
            padding: 10px 20px; // 버튼 패딩
            font-size: 16px; // 버튼 폰트 크기
            color: #fff; // 글자 색상
            background-color: #ff4b77; // 버튼 배경색
            border-radius: 5px; 
            cursor: pointer; // 커서 포인터로 변경
            // transition: background-color 0.3s; // 배경색 전환 효과
            // &:hover {
            //     background-color: #ff4b77; // 호버 시 배경색 변경
            // }
        
            &.completed {
                background-color: #8E8E8E; // 비활성화 상태 색상
                cursor: not-allowed; // 비활성화 상태 커서
            }
            &.upcoming {
                background-color: #0D326F; // 비활성화 상태 색상
                cursor: not-allowed; // 비활성화 상태 커서
            }
        }
    }
  
    .tapBarWrap{
        max-width: 480px;
        height: 100%;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            width: 25%;
            height: 100%;
            // border: 1px solid;
            text-align: center;
            button{
                width: 100%;
                height: 100%;
                div{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    p{
                        padding-top: 24px;
                        position: relative;
                        &::before{
                            width: 32px;
                            height: 32px;
                            position: absolute;
                            top: 24%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            content: '';
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                    .home{
                        &::before{
                            background-image: url('../../public/assets/icons/home.svg');
                        }
                    }

                    .category{
                        &::before{
                            background-image: url('../../public/assets/icons/burger.svg');
                        }
                    }
                    .search{
                        &::before{
                            background-image: url('../../public/assets/icons/search.svg');
                        }
                    }
                    .my{
                        &::before{
                            background-image: url('../../public/assets/icons/person.svg');
                        }
                    }
                    &.active{
                        p{
                            font-weight: 700;
                            color: #FF4B77;
                        }
                        .home{
                            &::before{
                                background-image: url('../../public/assets/icons/home_pink.svg');
                            }
                        }
        
                        .category{
                            &::before{
                                background-image: url('../../public/assets/icons/burger_pink.svg');
                            }
                        }
                        .search{
                            &::before{
                                background-image: url('../../public/assets/icons/search_pink.svg');
                            }
                        }
                        .my{
                            &::before{
                                background-image: url('../../public/assets/icons/person_pink.svg');
                            }
                        }

                    }
                }
            }
        }
    }
}