
.mypagewrap{
    caret-color: transparent;
    padding-top: 80px;  
    ul{
        display: flex;
        flex-direction: column;
        li{ display: flex;
            align-items: center;
            width: 100%;
            height: 80px;
            padding-left: 20px;
            cursor: pointer;
            border-bottom: 1px solid #cbcbcb;
            &:nth-child(1){
            height: 100px;
            background-color: #dddddd;
            border-bottom: none;
            cursor:default;
            }
            &:last-child{
                border-bottom: none;
            }
        }
}

}