// reset.scss
*{
    box-sizing: border-box;
  }
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
  p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
  em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
  b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
  details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
  output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0; 
    border: 0;
    color: #2f2f2f;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;;
    line-height: 1.5;
    letter-spacing: -1px;
    font-weight: 400;
    word-wrap: break-word;
    word-break: break-word;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section,main {
    display: block;
  }
  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  button, input[type="button"] {
    padding:0;
    margin:0;
    border:none;
    vertical-align:middle;
    cursor:pointer;
    background:transparent;
  }
  input, select, button, textarea {
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 16px;
  }
  input[type="checkbox"],input[type="radio"] {
    display: none;
  }
  select {
    option {
        color: #2f2f2f;
    }
  }
  textarea {
    width: 100%;
    border: 1px solid #ffffff;
    font-family: "Montserrat", sans-serif;;
    resize: none;
    border-radius: 8px;
    padding: 16px 20px;
    font-size: 16px;
  }
  textarea::placeholder {
    color: #ffffff;
  }
  button:focus {
    outline:0;
  }
  input {
    margin:0;
    padding:0;
    border:0;
    font-family: "Montserrat", sans-serif;;
  }
  input:read-only {
    background-color: #ffffff;
  }
  input::placeholder {
    color: #cbcbcb;
  }
  hr {
    display:none;
  }
  
  a {
    color: inherit;
    font-size: inherit;
  }
  a:link, a:visited, a:hover, a:active {
    text-decoration:none;
  }
  .clearfix:after {
    content:"";
    visibility: hidden;
    display: block;
    height:0;
    clear:both;
  }
  .hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0; 
    visibility: hidden;
    font-size: 0; 
    line-height: 0;
    position: absolute; 
    left: -9999px;
  }